<mat-card [ngStyle]="{'background-color':'gray'}">
    <mat-card-title>Create Drive</mat-card-title>
  <mat-card-content>
  <form [formGroup]="createdrive">
  <p>
      <mat-form-field appearance="Company Name">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="company_Name">
        <mat-error *ngIf="createdrive.get('company_Name').errors?.required">Company name required</mat-error>
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="No of Resources">
        <mat-label>No of Resources</mat-label>
        <input matInput placeholder="Placeholder" formControlName="resources">
        <mat-error *ngIf="createdrive.get('resources').errors?.required"> resources required</mat-error>
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="Exp Required">
        <mat-label>Exp Required</mat-label>
        <input matInput placeholder="Placeholder" formControlName="experience">
        <mat-error *ngIf="createdrive.get('experience').errors?.required"> expeience required</mat-error>
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="CTC">
        <mat-label>CTC</mat-label>
        <input matInput placeholder="Placeholder" formControlName="ctc">
        <mat-error *ngIf="createdrive.get('ctc').errors?.required"> ctc required</mat-error>
        
      </mat-form-field>
    </p>
    
    <mat-form-field>
      <mat-select placeholder="Joining Criteria" formControlName="joiningc">
        <mat-option value="0">No Training & direct joining</mat-option>
        <mat-option value="1">Internship and DirectJoining</mat-option>
  
      </mat-select>
      <mat-error *ngIf="createdrive.get('joiningc').errors?.required"> joiningc required</mat-error>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  
  
    <p>
      <mat-form-field appearance="Bond">
        <mat-label>Bond</mat-label>
        <input matInput placeholder="Placeholder" formControlName="bond">
        <mat-error *ngIf="createdrive.get('bond').errors?.required"> bond is required</mat-error>
        
      </mat-form-field>
    </p>
    
  
    <mat-form-field>
      <mat-select placeholder="Position" formControlName="position">
        <mat-option value="0">UIDeveloper</mat-option>
        <mat-option value="1">Backend</mat-option>
        <mat-option value="2">Tester</mat-option>
        <mat-option value="3">softwareEngg</mat-option>
      </mat-select>
      <mat-error *ngIf="createdrive.get('position').errors?.required"> educationc is required</mat-error>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  
    <p>
      <mat-form-field appearance="FollowUp">
        <mat-label>FollowUp</mat-label>
        <input matInput placeholder="Placeholder" formControlName="followup">
        <mat-error *ngIf="createdrive.get('followup').errors?.required"> followup is required</mat-error>
      
        
      </mat-form-field>
    </p>
    
    <mat-form-field>
      <mat-select placeholder="Education Criteria " formControlName="educationc">
        <mat-option value="0">12th</mat-option>
        <mat-option value="1">BE</mat-option>
        <mat-option value="2">ME</mat-option>
        
      </mat-select>
      <mat-error *ngIf="createdrive.get('educationc').errors?.required"> educationc is required</mat-error>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  
    <div class="button">
      <button type="submit" mat-raised-button (click)="adddata()"   color ="primary">Submit</button>
    </div>
  
  </form>
  </mat-card-content>
  </mat-card>