<!-- <app-create-drive></app-create-drive> -->
  <div style="padding:5x;" class="bg">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active"><a routerLink='profile'>Login Form</a></li>
    <li routerLinkActive="active"><a routerLink='register'>Registeration Form</a></li>
    <li routerLinkActive="active"><a routerLink='create'>Create Drive</a></li>
    <li routerLinkActive="active"><a routerLink='view'>View Drive</a></li>
   

  </ul>
<router-outlet></router-outlet>
</div>  
<!-- <app-loginform></app-loginform> -->
<!-- <button class="btn btn-primary">my button</button> -->